{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
    <main>

      <section class="content-box-area mt-4">
        <div class="container">
          <div class="row g-4">
            <div class="col-xl-4">
              <div class="card profile-card">
                <div class="card-body">
                  <div class="image text-center">
                    <img src= {% static 'assets/img/images/dev.jpg' %} alt="profile" style="width:350px; height:350px;">
                  </div>
                  <div class="text">
                    <h3 class="card-title">Fotima 👋</h3>
                    <p>Men Full-stack dasturchiman va hozirda web dasturlarini yaratishda zamonaviy texnologiyalarni o‘rganishga jiddiy e’tibor qaratyapman. <span>Django, React, Next.js, HTML, CSS, REST framework,Typescript,Next Js, JavaScript, Sass, Bootstrap, Tailwind CSS va Python </span>kabi kuchli vositalarni egallab, sifatli va samarali yechimlar ishlab chiqishga intilaman. O‘z bilimlarimni amaliyotda qo‘llab, yangi dasturiy ta’minotlarni yaratish va foydalanuvchilarga qulay va intuitiv interfeyslar taqdim etishga qaratilgan loyihalar ustida ishlayapman.</p>
                    <div class="common-button-groups">
                      <a class="btn btn-call" href="{% url 'contact-page'%}">
                        <svg class="icon" width="25" height="24" viewBox="0 0 25 24" fill="none"
                          xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M5.5 4H9.5L11.5 9L9 10.5C10.071 12.6715 11.8285 14.429 14 15.5L15.5 13L20.5 15V19C20.5 19.5304 20.2893 20.0391 19.9142 20.4142C19.5391 20.7893 19.0304 21 18.5 21C14.5993 20.763 10.9202 19.1065 8.15683 16.3432C5.3935 13.5798 3.73705 9.90074 3.5 6C3.5 5.46957 3.71071 4.96086 4.08579 4.58579C4.46086 4.21071 4.96957 4 5.5 4Z"
                            stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                          <path d="M15.5 7C16.0304 7 16.5391 7.21071 16.9142 7.58579C17.2893 7.96086 17.5 8.46957 17.5 9"
                            stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                          <path d="M15.5 3C17.0913 3 18.6174 3.63214 19.7426 4.75736C20.8679 5.88258 21.5 7.4087 21.5 9"
                            stroke= "white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                       Number
                      </a>
                      <button class="btn btn-copy" data-clipboard-text="fotimabeautiful04@gmail.com">
                        <svg class="icon" width="24" height="24" viewBox="0 0 24 24" fill="none"
                          xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M8 10C8 9.46957 8.21071 8.96086 8.58579 8.58579C8.96086 8.21071 9.46957 8 10 8H18C18.5304 8 19.0391 8.21071 19.4142 8.58579C19.7893 8.96086 20 9.46957 20 10V18C20 18.5304 19.7893 19.0391 19.4142 19.4142C19.0391 19.7893 18.5304 20 18 20H10C9.46957 20 8.96086 19.7893 8.58579 19.4142C8.21071 19.0391 8 18.5304 8 18V10Z"
                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                          <path
                            d="M16 8V6C16 5.46957 15.7893 4.96086 15.4142 4.58579C15.0391 4.21071 14.5304 4 14 4H6C5.46957 4 4.96086 4.21071 4.58579 4.58579C4.21071 4.96086 4 5.46957 4 6V14C4 14.5304 4.21071 15.0391 4.58579 15.4142C4.96086 15.7893 5.46957 16 6 16H8"
                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        Copy Email
                      </button>
                    </div>
                    <div class="social-media-icon">
                      <ul class="list-unstyled">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fab fa-github"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-8">
              <div class="card content-box-card">
                <div class="card-body portfolio-card">
                  <div class="top-info">
                    <div class="text">
                      <h1 class="main-title">My Recent Article and Publications</h1>
                      <p>I'm here to help if you're searching for a product designer to bring your idea to life or a
                        design partner to help take your business to the next level.</p>
                    </div>
                  </div>
                  <div class="article-publications article-area">
                    <div class="article-publications-main">
                      <div class="row">
                        {% for blogs in blog_list%}
                        <div class="col-xl-6 col-lg-4 col-md-6">
                          
                          <div class="article-publications-item">
                            <div class="image">
                              <a href="#" class="d-block w-100">
                                <img src="{{blogs.image.url}}" alt="blog-img-1" class="img-fluid w-100">
                              </a>
                              <a href="article.html" class="tags">Development</a>
                            </div>
                            <div class="text">
                              <a href="#" class="title">{{blogs.title}}</a>
                              <ul class="list-unstyled">
                                <li>{{ blog.created_at|timesince }} read ago</li>
                                <li>{{blogs.created_at}}</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        {% endfor %}
    
                      </div>
                    </div>
                  </div>
                  <div class="pagination">
                    <ul class="list-unstyled">
                      <!-- Previous button -->
                      <li class="prev">
                        {% if page_obj.has_previous %}
                          <a href="?page=1">
                            <svg class="icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18"></path>
                            </svg>
                          </a>
                        {% endif %}
                      </li>
                  
                      <!-- Page numbers -->
                      {% for num in page_obj.paginator.page_range %}
                        {% if num == page_obj.number %}
                          <li><button class="active">{{ num }}</button></li>
                        {% else %}
                          <li><a href="?page={{ num }}"><button>{{ num }}</button></a></li>
                        {% endif %}
                      {% endfor %}
                  
                      <!-- Ellipsis for skipped pages -->
                      {% if page_obj.has_next %}
                        <li>
                          <button class="next-page-btn">
                            <span class="dots"><i class="fas fa-ellipsis-h"></i></span>
                            <span class="next-page">
                              <svg class="icon icon-arrow-right" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
                                <path d="m6 17 5-5-5-5"></path>
                                <path d="m13 17 5-5-5-5"></path>
                              </svg>
                            </span>
                            <span class="next-page-number">Next</span>
                          </button>
                        </li>
                      {% endif %}
                  
                      <!-- Last page -->
                      <li><a href="?page={{ page_obj.paginator.num_pages }}"><button>{{ page_obj.paginator.num_pages }}</button></a></li>
                  
                      <!-- Next button -->
                      
                    </ul>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- background shape area start -->
      <div class="background-shapes">
        <div class="shape-1 common-shape">
          <img src="assets/img/bg/banner-shape-1.png" alt="banner-shape-1">
        </div>
        <div class="shape-2 common-shape">
          <img src="assets/img/bg/banner-shape-1.png" alt="banner-shape-1">
        </div>
        <div class="threed-shape-1 move-with-cursor" data-value="1">
          <img src="assets/img/bg/object-3d-1.png" alt="object-3d-1">
        </div>
        <div class="threed-shape-2 move-with-cursor" data-value="1">
          <img src="assets/img/bg/object-3d-2.png" alt="object-3d-2">
        </div>
      </div>
      <!-- background shape area end -->
    </main>
    <!-- main area part end -->

{% endblock content%}